@atomic-ui:registry=https://npm.pkg.github.com/atomic-ui
//npm.pkg.github.com/:_authToken=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

# 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

# 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
