# @atomic-ui:registry=https://npm.pkg.github.com 
# //npm.pkg.github.com/:_authToken=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
# // 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

@atomic-ui:registry=https://npm.pkg.github.com/atomic-ui
//npm.pkg.github.com/:_authToken=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
registry=https://registry.npmjs.org
